*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    text-decoration: none!important;
}
.navbar{
    height: 50px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
}
.navbar .logo,.auth{
    text-transform: uppercase;
    margin-left: 10%;
    color:#fff;
}
.navbar .auth{
    margin-left: 0;
    margin-right:10%;
    background: none;
    border:none;
}
.navbar .username{
    text-transform: uppercase;
    margin:0;
}
.header{
    display:flex;
    justify-content: space-between;
}
.form-add{
    display: flex;
    height: 40px;
    width: 50%;
    margin:20px 50px;
    justify-content: center;
    align-items: flex-start;
}
.add-button{
    height: 28px;
    line-height: 14px;
}
.form-add input{
    margin: 0 10px;
}
.fields{
    display: flex;
}
.error{
    color:red;
    opacity: 0;
}